{% extends 'website/home.html' %}
{% load static %}

{% block content %}
        <div class="about-section">
            <h2>Об этом сайте</h2>
            <p>Этот сайт создан для моего портфолио как итоговый проект в онлайн университете "Zerocoding".</p>
            <p>Проект создан в рамках курса "Программист на Python с нуля с помощью ChatGPT".</p>
            <p>В проекте реализован фукционал для работы с Телеграм ботом "@FlowerDeliverBot", предназначенный для
                администратора - сотрудника службы доставки, котортый может управлять статусами заказов.
                Для проверки работы этого функционала вы можете подключить бота в Телеграм и начните с ним работать.
                Команой "/start" и сообщения с сайта будут приходить к вам в чат.</p>
            <h2>Реализация интерфейса и работа сайта</h2>
            <p>1. Сайт полноценно работает в указанное на домашней странице рабочее время.
                В нерабочее время и без входа на сайт можно только посмотреть главную страницу,
                витрину и страницу "Об этом сайте".</p>
            <p>2. В рабочее время можно зарегистрироваться указав свои данные в
                форме регистрации. После регистрации можно войти в систему указав свою
                почту (e-mial).</p>
            <p>3. После входа в систему можно просматривать каталог цветов и делать заказ
                указав под выбранным цветком нужное количество.</p>
            <p>4. К оформлению заказа можно перейти по кнопке "Выбор сделан". Если сумма
                заказа будет равна нулю, то заказ не будет оформлен и будет переход на
                домашнюю страницу сайта.</p>
            <p>5. Для оформления заказа требуется посмотреть данные заказа, изменить
                адрес доставки, если не соответствует адресу доставки, указанному при
                регистрации. А также здесь можно написать комментарий к заказу. После
                этого можно по кнопке "Отправить заказ" завершить оформление заказа,
                или вернуться к выбору цветов и переоформить заказ.</p>
            <p>6. Отправка заказа происходит сразу после нажатия на кнопку "Отправить
                заказ". После этого можно посмотреть его в истории заказов.</p>
            <p>7. В истории заказов Заказчик может совершить повторный заказ ранее
                выбранных заказов. А также изменить статус заказа, если он не отмечен
                Админом как "Оплаченный". Заказчику не доступен статус "Оплаченный" из
                выпадающего списка.</p>
            <p>8. В приложении телеграм бота имеется возможность управлять статусами
                заказов на любые другие, включая "Оплачен". Для этого можно перейти на
                страницу "Заказы" по кнопке "Административная".</p>
            <p>9. В приложении имеется страница "admin" для входа в стандартный
                для проектов Django режим администрирования для просмотра и изменения
                данных в базе данных проекта.</p>
            <p>10. Для проекта "FlowerDelivery" в приложении имеется возможность
                отправлять сообщения боту в Telegram о поступивших заказах и изменении
                статуса заказа.</p>
            <p>11. Телеграм бот предназначен для приема и управления заказами
                сотрудником службы.
                Для доступа к боту необходимо найти в программе Telegram бота "Менеджер
                доставщик" (@FlowerDeliverBot) или перейти по ссылке
                "https://t.me/FlowerDeliverBot". После этого в нижней части страницы
                программы нажать на кнопку "Начать" или написать команду "/start".
                В ответ на это с сервера поступит собщение "Сообщения с сайта будут
                приходить сюда." и в базе данных будет создана запись с номером сессии
                бота администратора службы доставки. Чтобы сменить администратора службы
                доставки, нужно написать команду "/start" на другом устройстве в
                Telegram. Кроме того, в приложении бота будет сообщение
                "Cтатусами заказа можно управлять на сайте. Нажмите на кнопку ниже:"
                под которым будет кнопка "Административная"</p>
        </div>
{% endblock %}
